#main-btns {
  text-align: center;
  float: none;
  margin: 30vh auto;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.alert {
  margin-top: 20px;
}

// FORM PAGE ///////////////////////////////////////////////////////////////////////////

@tomato: #DE5934;
@tan: #CEC2B8;
@creme: #F2F1ED;
@darkblue: #434452;


// FORM PAGE ///////////////////////////////////////////////////////////////////////////

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.landing-wrapper {
  text-align: center;
}

h1 {
  font-size: 72px;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h2 {
  padding-top: 5vh;
}

section {
  width: 100vw;
  min-height: 100vh;
}

.selected {
  border: 4px solid red;
}

.landing-wrapper {
  font-family: 'Josefin Slab', serif;
  color: #fff;

  #hero {
    background: url('https://s3.amazonaws.com/junopay-development/general-images/juno-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;

    h1 {
      padding-top: 10vh;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 30vh;
    }

    .ribbon {
      background: rgba(67, 68, 82, 0.9);
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      padding: 5vh;

      p {
        text-align: left;
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  #food-choices {
    background-color: #434452;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex: 2;
      flex-wrap: wrap;
      justify-content: center;

      li {
        background: #F2F1ED;
        border: 1px solid #979797;
        width: 30%;
        margin: 6% 10%;
        color: #434452;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.selected {
          box-shadow: 0 0 0 5px #DE5934;
        }

        * {
          cursor: pointer;
        }
      }

      label {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 0;

        span {
          // flex: 2;
          flex: 1;
        }

        input {
          visibility: hidden;
          flex: 2;
          margin: 0;
        }

        .image {
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 40px;
          flex: 2 1 auto;
        }
      }
    }
  }

  #food-preferences {
    background: url("https://s3.amazonaws.com/junopay-development/general-images/preferences.jpg");
    background-size: cover;
  }

  .food-preference {
    width: 100%;
    @media (min-width: 768px) {
      width: initial;
    }
  }

  // PRICE /////////////////////////////////////////////////////

  .price-scale {
    margin-top: 10vh;
    font-size: 25vw;
    @media (min-width: 768px) {
      font-size: 200px;
    }
  }

  .rating-box {
    outline: none;
    cursor: pointer;
  }

  .average-cost {
    font-size: 10vw;
    @media (min-width: 768px) {
      font-size: 60px;
    }
  }

  .glyphicon-minus {
    color: gainsboro;
  }

  // USER DETAIL ////////////////////////////////////////////////////

  // form {
  //   text-align: left;
  // }

}




// BOOTSTRAP OVERRIDES ////////////////////////////////////////////////////////////////////////

.btn-group > label.btn {
  margin: 10px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
   border-radius: 5px;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
