<div id="main-btns" class="col-sm-4">
  <a class="btn btn-lrg btn-primary btn-block" ui-sref="admin-restaurant-new" role="button">Add New Restaurant</a>
  <a class="btn btn-lrg btn-primary btn-block" ui-sref="admin-restaurant-index" role="button">View/Edit Restaurant</a>
  <a class="btn btn-lrg btn-primary btn-block" ui-sref="admin-archive-list" role="button">View Archived Restaurants</a>
  <a class="btn btn-lrg btn-primary btn-block" ui-sref="admin-delete-restaurants" role="button">Delete Restaurant</a>
</div>
