<h1>Search</h1>
<div class="form-group">
  <input type="text" ng-model="searchText" class="form-control">
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th> <th>Address</th> <th>Cuisine</th> <th>Archive Date</th>
      <th class="col-sm-2"></th>
    </tr>
  </thead>
  <tbody>
    <!-- LOOP OVER THE RESTAURANTS -->
    <tr ng-repeat="restaurant in restaurants | filter:searchText | filter:archived != false">
        <div>
          <td ng-click="go(restaurant)">{{restaurant.name | capitalize}}</td>
          <td ng-click="go(restaurant)">{{restaurant.street | capitalize}}</td>
          <td ng-click="go(restaurant)">{{restaurant.cuisine | capitalize}}</td>
          <td ng-click="go(restaurant)">{{restaurant.archiveDate | date}}</td>
        </div>
        <td class="col-sm-2">
          <a confirm-click="restoreListing(restaurant._id)" class="btn btn-danger" confirmation="Do you really want to restore?">Restore</a>
        </td>
    </tr>
  </tbody>
</table>
