<div class="landing-wrapper">
  <section id="hero">
    <h1 id="hero-title">Quick Munchy</h1>
    <p>What do you crave?</p>
  </section>
  <section id="food-choices">
    <h2>Tell us what you're craving</h2>
    <h4>(select one)</h4>
    <div class="images-container">
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
      <div class="image-container">
        <img src="https://d4z6dx8qrln4r.cloudfront.net/choice-5582027a2f289-supersize.jpeg" alt="food-choice">
      </div>
    </div>
  </section>
  <section id="food-preferences">
    <h2>What should we know about you?</h2>
    <h4>(select many)</h4>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off" checked> Gluten Free 
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Peanut Allergy
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Vegan
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Vegatarian
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Pescatarian
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> None
      </label>
    </div>
  </section>
  <section id="amount"></section>
  <section id="user-details"></section>
</div>


